<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tissue</key>
	<string>纸巾</string>
	<key>paper</key>
	<string>纸</string>
	<key>book</key>
	<string>书</string>
	<key>camera</key>
	<string>相机</string>
	<key>laptop</key>
	<string>手提电脑</string>
	<key>perfume</key>
	<string>香水</string>
	<key>cream</key>
	<string>霜</string>
	<key>mask</key>
	<string>面罩，面膜</string>
	<key>shoe</key>
	<string>鞋</string>
	<key>spoon</key>
	<string>勺子</string>
	<key>pot</key>
	<string>锅</string>
	<key>jam</key>
	<string>果酱</string>
	<key>vinegar</key>
	<string>醋</string>
	<key>sugar</key>
	<string>糖</string>
	<key>salt</key>
	<string>盐</string>
	<key>soup</key>
	<string>汤</string>
	<key>lamp</key>
	<string>台灯</string>
	<key>closet</key>
	<string>橱柜</string>
	<key>shirt</key>
	<string>汗衫</string>
	<key>clock</key>
	<string>闹钟</string>
	<key>door</key>
	<string>门</string>
	<key>dryer</key>
	<string>风筒</string>
	<key>shampoo</key>
	<string>洗发水</string>
	<key>soap</key>
	<string>番碱</string>
	<key>comb</key>
	<string>梳子</string>
	<key>pillow</key>
	<string>枕头</string>
	<key>cushion</key>
	<string>坐垫</string>
	<key>plug</key>
	<string>插头</string>
	<key>bag</key>
	<string>袋</string>
	<key>coffee</key>
	<string>咖啡</string>
	<key>tea</key>
	<string>茶</string>
	<key>plate</key>
	<string>碟</string>
	<key>dish</key>
	<string>菜，盘子</string>
	<key>apron</key>
	<string>围裙</string>
	<key>oven</key>
	<string>烤箱</string>
	<key>shower</key>
	<string>花洒</string>
	<key>cake</key>
	<string>蛋糕</string>
	<key>fish</key>
	<string>鱼</string>
	<key>juice</key>
	<string>果汁</string>
	<key>milk</key>
	<string>牛奶</string>
	<key>rice</key>
	<string>米饭</string>
	<key>egg</key>
	<string>鸡蛋</string>
	<key>peach</key>
	<string>桃子</string>
	<key>pear</key>
	<string>梨子</string>
	<key>apple</key>
	<string>苹果</string>
	<key>ceiling</key>
	<string>天花板</string>
	<key>floor</key>
	<string>地板</string>
	<key>glass</key>
	<string>玻璃杯</string>
	<key>toy</key>
	<string>玩具</string>
	<key>beer</key>
	<string>啤酒</string>
	<key>wine</key>
	<string>红酒</string>
	<key>oil</key>
	<string>油</string>
	<key>clothes</key>
	<string>衣服</string>
	<key>fan</key>
	<string>扇子</string>
	<key>bed</key>
	<string>床</string>
	<key>sofa</key>
	<string>沙发</string>
	<key>bowl</key>
	<string>碗</string>
	<key>cup</key>
	<string>杯子</string>
	<key>phone</key>
	<string>电话</string>
	<key>table</key>
	<string>桌子</string>
	<key>chair</key>
	<string>椅子</string>
</dict>
</plist>
