<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>music</key>
	<string>音乐</string>
	<key>love</key>
	<string>爱</string>
	<key>foot</key>
	<string>脚</string>
	<key>car</key>
	<string>车</string>
	<key>city</key>
	<string>城市</string>
	<key>heart</key>
	<string>心脏</string>
	<key>finger</key>
	<string>手指</string>
	<key>leg</key>
	<string>腿</string>
	<key>hand</key>
	<string>手</string>
	<key>head</key>
	<string>头</string>
	<key>child</key>
	<string>小孩</string>
	<key>name</key>
	<string>名字</string>
	<key>night</key>
	<string>晚上</string>
	<key>honey</key>
	<string>蜜糖</string>
	<key>bee</key>
	<string>蜜蜂</string>
	<key>beef</key>
	<string>牛肉</string>
	<key>pork</key>
	<string>猪肉</string>
	<key>bird</key>
	<string>小鸟</string>
	<key>dog</key>
	<string>狗</string>
	<key>cat</key>
	<string>猫</string>
	<key>pig</key>
	<string>猪</string>
	<key>horse</key>
	<string>马</string>
	<key>room</key>
	<string>房间</string>
	<key>show</key>
	<string>演出，展览</string>
	<key>life</key>
	<string>生命</string>
	<key>year</key>
	<string>年</string>
	<key>day</key>
	<string>天，日子</string>
	<key>time</key>
	<string>时间</string>
	<key>earth</key>
	<string>地球</string>
	<key>moon</key>
	<string>月亮</string>
	<key>sun</key>
	<string>太阳</string>
	<key>tissue</key>
	<string>纸巾</string>
	<key>paper</key>
	<string>纸</string>
	<key>book</key>
	<string>书</string>
	<key>camera</key>
	<string>相机</string>
	<key>laptop</key>
	<string>手提电脑</string>
	<key>perfume</key>
	<string>香水</string>
	<key>cream</key>
	<string>霜</string>
	<key>mask</key>
	<string>面罩，面膜</string>
	<key>shoe</key>
	<string>鞋</string>
	<key>spoon</key>
	<string>勺子</string>
	<key>pot</key>
	<string>锅</string>
	<key>jam</key>
	<string>果酱</string>
	<key>vinegar</key>
	<string>醋</string>
	<key>sugar</key>
	<string>糖</string>
	<key>salt</key>
	<string>盐</string>
	<key>soup</key>
	<string>汤</string>
	<key>lamp</key>
	<string>台灯</string>
	<key>closet</key>
	<string>橱柜</string>
	<key>shirt</key>
	<string>汗衫</string>
	<key>clock</key>
	<string>闹钟</string>
	<key>door</key>
	<string>门</string>
	<key>dryer</key>
	<string>风筒</string>
	<key>shampoo</key>
	<string>洗发水</string>
	<key>soap</key>
	<string>番碱</string>
	<key>comb</key>
	<string>梳子</string>
	<key>pillow</key>
	<string>枕头</string>
	<key>cushion</key>
	<string>坐垫</string>
	<key>plug</key>
	<string>插头</string>
	<key>bag</key>
	<string>袋</string>
	<key>coffee</key>
	<string>咖啡</string>
	<key>tea</key>
	<string>茶</string>
	<key>plate</key>
	<string>碟</string>
	<key>dish</key>
	<string>菜，盘子</string>
	<key>apron</key>
	<string>围裙</string>
	<key>oven</key>
	<string>烤箱</string>
	<key>shower</key>
	<string>花洒</string>
	<key>cake</key>
	<string>蛋糕</string>
	<key>fish</key>
	<string>鱼</string>
	<key>juice</key>
	<string>果汁</string>
	<key>milk</key>
	<string>牛奶</string>
	<key>rice</key>
	<string>米饭</string>
	<key>egg</key>
	<string>鸡蛋</string>
	<key>peach</key>
	<string>桃子</string>
	<key>pear</key>
	<string>梨子</string>
	<key>apple</key>
	<string>苹果</string>
	<key>ceiling</key>
	<string>天花板</string>
	<key>floor</key>
	<string>地板</string>
	<key>glass</key>
	<string>玻璃杯</string>
	<key>toy</key>
	<string>玩具</string>
	<key>beer</key>
	<string>啤酒</string>
	<key>wine</key>
	<string>红酒</string>
	<key>oil</key>
	<string>油</string>
	<key>clothes</key>
	<string>衣服</string>
	<key>fan</key>
	<string>扇子</string>
	<key>bed</key>
	<string>床</string>
	<key>sofa</key>
	<string>沙发</string>
	<key>bowl</key>
	<string>碗</string>
	<key>cup</key>
	<string>杯子</string>
	<key>phone</key>
	<string>电话</string>
	<key>table</key>
	<string>桌子</string>
	<key>chair</key>
	<string>椅子</string>
</dict>
</plist>
